Package.resolved
.swiftpm/xcode/package.xcworkspace/xcuserdata/kirillstaroselskiy.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/kirillstaroselskiy.xcuserdatad/xcschemes/xcschememanagement.plist
